

.row {
  display: flex;
}

.box {
  width: 80px;
  height: 80px;
}

.black {
  background-color: rgb(87, 166, 231);
}

.white {
  background-color: ghostwhite;
}
.highlighted
{
  background-color: aqua;
}
